<?xml version="1.0"?>
<launch>

    
    <arg name="baud" default="115200"/>
    <arg name="address" default="128"/>
    <arg name="max_speed" default="20"/>
    <arg name="min_speed" default="10"/>
    <arg name="ticks_per_meter" default="4342.2"/>
    <arg name="height_tolerance" default="0.1">

    <node pkg="roboclaw_node" type="ipa_roboclaw.py" name="ipa_tablet_height" respawn="false" output="screen">
       <param name="~dev" value="$(arg dev)"/>
        <param name="~baud" value="$(arg baud)"/>
        <param name="~address" value="$(arg address)"/>
        <param name="~max_speed" value="$(arg max_speed)"/>
	<param name="~min_speed" value="$(arg min_speed)"/>
        <param name="~ticks_per_meter" value="$(arg ticks_per_meter)"/>
        <param name="~height_tolerance" value="$(arg height_tolerance)"/>
        
	</node>

</launch>
